<!-- 
This navbar should be used in all pages, should appear in the top right corner (not flush) maybe layered on top of the header. 
On the active page, the current item should be active in the list 
Need to do that in js I think ^

-->



<div class="list-group" id="siteNav">
  <a href="../pages/index.html" data-page="home" class="list-group-item list-group-item-action">
    Puerto Rico
  </a>
  <a href="../pages/capital.html" data-page="capital" class="list-group-item list-group-item-action">
    Capital City
  </a>
  <a href="../pages/city1.html" data-page="city1" class="list-group-item list-group-item-action">
    City 1
  </a>
  <a href="../pages/city2.html" data-page="city2" class="list-group-item list-group-item-action">
    City 2
  </a>
  <a href="../pages/form.html" data-page="form" class="list-group-item list-group-item-action disabled" aria-disabled="true">
    Form?
  </a>
</div>
